/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --accent-color-with-background: #353430;
  --accent-heading-color: #ffc2e6;
  --text-color: #353430;
  --button-hover-color: #32312d66;
  --heading-color: #353430;
  --decorative-bracket-color: #353430;
  --menu-color: #353430;
  --rec-decoration-color: transparent;
  --cover-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-with-background: #353430;
    --accent-heading-color: #ffc2e6;
    --text-color: #353430;
    --button-hover-color: #32312d66;
    --heading-color: #353430;
    --decorative-bracket-color: #353430;
    --menu-color: #353430;
    --rec-decoration-color: transparent;
    --cover-image: url(../images/cover-image-light.png);
  }
}